<div fxFlex="100%" fxLayout="column" fxFill>
  <div class="topbar" fxFlex="1 0 150px" stlye="background-color: #45459A"></div>
  <div clas="content" fxFlex="1 1 100%" fxLayoutAlign="stretch stretch">
    <div class="nav-left" fxFlex="250px" style="background-color: cornflowerblue;">
      <ul>
        <li>
          <a routerLink="/dashboard">Dashboard</a>
        </li>
      </ul>
    </div>
    <div class="content-body" fxFlex="1 1 100%">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
